/*
Colors Used
Primary Color (blue): #4E8AA4;
Fourth Color (light blue): #C3D7DF;
Tertiary Color (orange): #CB4E29;
Fourth Color (darker orange for text on blue background): #9D3D1F;
Fifth Color (white): #F5F5F5;
Sixth color (grey): #67727A;
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #4E8AA4;
  padding: 5px 0 4px;
  position: relative;
}


body {
  background-color: #F5F5F5;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-transform: uppercase;
  color: #4E8AA4;
}


h2 {
  font-size: 2.25em;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight: 700;
}

p {
  font-size: 1.2em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #9D3D1F;
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
}

a:hover,
a:focus {
  color: #4E8AA4;
  text-decoration: underline;
}

a:active {
  color: #9D3D1F;
}


.button {
  display: inline-block;
  background-color: #CB4E29;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #ffffff;
}
.button:active {
  background-color: #4E8AA4;
  color: #ffffff;
}
.button:visited {
  color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #CB4E29;
  text-transform: uppercase;
  border: 4px solid #CB4E29;
  margin-bottom: 30px;
  font-weight: bold;
}
.button.contact:hover {
  background-color: #CB4E29;
  color: #ffffff;
}

.button.return {
  margin: 15px 0;
}

.button.next {
  margin: 15px 0;
  position: relative;
  float: right;
}

.no-padding {
  padding: 0 !important;
}

#home-page .button.return {
  margin-left: 10px;
}


/* Layout Styling */

.container {
  padding: 0 15px;
  max-width: 1200px;
}


.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  color: #4E8AA4;
}

.logo {
  max-width: 150px;
  margin: 0;
  padding: 10px 0;
}


nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
}

nav > ul > li > a:visited {
  color: #FFFFFF;
}
nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #C3D7DF;
}
nav > ul > li > a:active {
  color: #CB4E29;
}

#hero {
  background-color: transparent;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#contact {
  background-color: #C3D7DF;
  padding: 20px 0;
  text-align: center;
}

.newLogo {
  max-width: 50px;
}

.copyright {
  font-size: .9em;
}

.list {
  line-height: 1.2;
}

#project {
  margin-bottom: 20px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  right: 0;
  top: 2px;
  font-size: 80px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #4E8AA4;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}


[class*="col-"] {
  float: left;
  padding: 10px;
}

.col-sm-6 {
  width: 50%;
}

@media only screen and (min-width: 640px) {


body {
  font-size: 18px;
}

#hero span {
  display: block;
}

.col-md-6 {
  width: 50%;
}

#about-page h3 {
  margin-top: 0;
}

.container {
margin-left: auto;
margin-right: auto;
}


}

@media only screen and (min-width: 680px) {

  .logo {
    max-width: 100px;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  header {
    text-align: unset;
    padding: 0;
    margin: 0;
  }


  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

}

@media only screen and (min-width: 1024px) {


.col-lg-5 {
  width: 41.66%;
}

.col-lg-7 {
  width: 58.33%;
}

.col-lg-6 {
  width: 50%;
}

#contact span {
  display: block;
}

}

@media only screen and (min-width: 1440px){

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.col-lg-12 {
  width: 100%;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

}

@keyframes scissors-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.scissors {
  animation-duration: 15s;
  animation-name: scissors-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes eyebrow-move {
  from {transform: translate(0, 0);}
  to {transform: translate(0,-22px);}
}

.eyebrow {
  animation-duration: 12s;
  animation-name: eyebrow-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
